<table border="0" cellspacing="0" cellpadding="0" width="100%">
   <tr class="motoblue">
      <td valign="top">
         <div>
           	<a name="top">
	               <img src="motologo.gif" alt="Motorola" border="0" width="230" height="55">
            </a>
          </div>
      </td>
      <td valign="top" height="48">
         <div align="right">
            <img src="slogo_2.gif"
                alt="Making things smarter and life better" width="319" height="55"></div>
      </td>
   </tr>
   <tr>
      <td colspan="3" height="12">
         <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tr>
               <td align="right" class="topnav">
               		<strong>
               			Remote Software Download
 					</strong>
 				</td>
            </tr>
         </table>
      </td>
   </tr>
</table>