<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Loading Test Case</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<script>
$("#Success").click(function(){
    	$('#tableBodyID').append('<p>File loaded successfully</p>')
    });
    
 $("#resetbtn").click(function(){
    	location.reload();
    	//test
    });   
</script>
<body>
<% include header.html %> 


<form method="post" enctype="multipart/form-data" action="/uploadtestcase">
<table width="100%" border="0">
<tr valign="top">
<td>
	<% include menu.html %>
</td>
<td>
<p>
	
<h2><img src = "bullet.gif" alt = "Bullet Image"> Load Supported Test Cases</h2></p>

<p> <img src = "bullet.gif" alt = "Bullet Image"> Select the text file (**) :
<input type="file" name="upload">
</p>

<br></br>
<br></br>

<p>

<input type="submit" id="Success">
   <input type="button" name="Reset" value="Reset" id="resetbtn">
</p>
	<br>
	<hr>
       <p>
            ** Dear User, Please make sure you are following the below instructions:
            <br>
            	a. Select only flat text(.txt) file. No ZIP/gz/tar files are allowed.
            	<br>
            	b. Parameters must be separated by comma.
            	<br> 
            	<!-- c. The first parameter of each line must be the CIT Market name of the phone model.
            	 <br> -->
            	c. The length of the each line or record must be less than 4000 characters.
            
            </p>
            <hr>
</td>      
</tr>

<tr>
  </tr>
</table>
</form>
</body>
</html>