<table width="100%" border="1" cellspacing="0" cellpadding="2">
            <tr class="motoblue">
               <th>
					<font color="#FFFFFF">Options</font>
				</th>
            </tr>
			<tr>
				<td class="c20">
                <p>				
					<img src="bullet.gif" width="12" height="9">
					<a href="http://localhost:3000/loadtestcase" class="c20">
                         <small>Load Supported Test Cases</small>
					</a>
				</p>
                <p>
					<img src="bullet.gif" width="12" height="9">
                    <a href="" class="c20">
						<small>Json File Management</small>
					</a>
				</p>
				<p>
					<img src="bullet.gif" width="12" height="9">
                    <a href="http://localhost:3000/RecipeGeneration" class="c20">
                        <small>Recipe Generation</small>
                    </a>
				</p>
				</td>
			</tr>
	</table>